.iXDwCW {
	width: 12.2667vw;
	height: 12.2667vw;
	background-size: 100%;
	text-indent: -9999em;
	font-size: 1px;
	background-repeat: no-repeat;
	border-width: 0px;
	border-style: initial;
	border-color: initial;
	border-image: initial;
}

.fzwbjC {
	margin-top: 2.13333vw;
}

.jqFMgs {
	background-image: url(../images/product-detail/btn_katalk.png);
}

.ebQDVx {
	position: absolute;
	right: 0px;
	top: -59.7333vw;
	display: none;
	overflow: hidden;
}

.iREAVG {
	font-family: SFProText, SFProText, "Apple SD Gothic Neo",
		AppleSDGothicNeo, "Malgun Gothic", "맑은 고딕", sans-serif;
	width: 66.6667vw;
	font-size: 8vw;
	line-height: 9.6vw;
}

.get-content__Img-sc-4qizrl-0 {
	width: 100%;
}

.get-content__IxTitle-sc-4qizrl-1 {
	font-weight: bolder;
	font-size: 25px;
	font-weight: bold;
}

.get-content__IxDescription-sc-4qizrl-2 {
	font-family: '맑은 고딕';
	font-size: 20px;
	line-height: 32px;
	letter-spacing: -0.2px;
	text-align: center;
	padding: 0px;
}

.detail-contents__Contents-a2e1v2-0 {
	text-align: center;
	width: 100%;
	font-family: '맑은 고딕';
	color: #000;
}

.detail-contents__Title-a2e1v2-2 {
	font-weight: bolder;
	font-size: 25px;
	font-weight: bold;
	font-family: '맑은 고딕';
	color: #000;
}

.hZwLyu {
	position: fixed;
	bottom: 0px;
	display: flex;
	-webkit-box-pack: end;
	justify-content: flex-end;
	width: 100%;
	max-width: 1175px;
	flex-direction: row;
	margin: auto;
}

.jUxlri {
	width: 100vw;
	height: 18.6667vw;
	display: flex;
	flex-direction: row;
	-webkit-box-align: center;
	align-items: center;
	background: rgb(255, 255, 255);
	padding: 0px;
}

.iOmWyG {
	box-sizing: border-box;
	padding: 0px 5.33333vw;
}

.ghClOy {
	border-right-width: 1px;
	background:
		url(../images/product-detail/product-detail-button-dec-off.svg) center
		center no-repeat;
}

.bYohjK {
	width: 9.33333vw;
	height: 9.33333vw;
	text-indent: -9999em;
	border-width: 0px;
	border-style: solid;
	border-color: rgb(227, 229, 232);
	border-image: initial;
	overflow: hidden;
}

.kFuewO {
	text-align: center;
	line-height: 9.33333vw;
	font-size: 4.26667vw;
	flex: 1 1 0%;
}

.eUcjHH {
	border-left-width: 1px;
	background:
		url(../images/product-detail/product-detail-button-inc-on.svg) center
		center no-repeat;
}

.hCwYWR {
	font-size: 15px;
	line-height: 50px;
	padding: 0px 20px;
}

.kMgbXi {
	display: none;
	color: rgb(154, 154, 158);
}

.hCwYWR {
	color: rgb(0, 0, 0);
	font-size: 5.86667vw;
	font-weight: bold;
	line-height: 18.6667vw;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	-webkit-box-pack: end;
	justify-content: flex-end;
	flex: 1 1 0%;
	padding: 0px 5.33333vw;
}

.eyQXYE {
	width: 100%;
	height: 16vw;
	background-color: rgb(60, 64, 75);
	text-align: center;
	display: flex;
	flex-direction: row;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	z-index: 1000001;
	transition: bottom 300ms ease 0s;
}

.iipgZi {
	height: 100%;
	font-size: 4.8vw;
	font-weight: bold;
	letter-spacing: -0.0533333vw;
	color: rgb(255, 255, 255);
	padding: 0px 5.33333vw;
}

.hnazCY {
	position: absolute;
	top: 0px;
	right: 0px;
}

#kakaoContent {
	width: 1080px;
	margin: 0px auto 0;
}

.qSzXk {
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	width: 16vw;
	height: 16vw;
	text-indent: -9999em;
	font-size: 1px;
	background: url(../images/product-detail/product-detail-cart-off.svg)
		center center/4vw 5.06667vw no-repeat;
}

.eoPXCl {
	position: relative;
	margin: 6.4vw 5.33333vw 0px;
}

.eYsRXP {
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
}

.gBmHgl {
	margin-top: 3.2vw;
	font-size: 4.8vw;
	color: rgb(51, 51, 51);
}

.dvwRmq {
	display: flex;
	margin-top: 2.93333vw;
	-webkit-box-align: center;
	align-items: center;
	color: rgb(154, 154, 158);
}

.iNxZsY {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}

.fnAzHX {
	display: inline-block;
	width: 4vw;
	height: 4vw;
	background: url(../images/product-detail/star_on.png) center center/100%
		no-repeat;
	outline: 0px;
	margin: 0px 0.746667vw 0px 0px;
}

.cRYXvP {
	display: inline-block;
	width: 4vw;
	height: 4vw;
	background: url(../images/product-detail/star_on.png) center center/100%
		no-repeat;
	outline: 0px;
	margin: 0px 0.746667vw;
}

.grbwaB {
	display: inline-block;
	width: 4vw;
	height: 4vw;
	background: url(../images/product-detail/star_off.png) center center/100%
		no-repeat;
	outline: 0px;
	margin: 0px 0.746667vw;
}

.ImZfG {
	display: inline-block;
	width: 4vw;
	height: 4vw;
	background: url(../images/product-detail/star_off.png) center center/100%
		no-repeat;
	outline: 0px;
	margin: 0px 0px 0px 0.746667vw;
}

.dvwRmq>.totalCount {
	font-size: 3.73333vw;
	margin-left: 1.6vw;
	color: rgb(51, 51, 51);
}

.oVMuJ {
	margin-top: 13.3333vw;
	padding-top: 0vw;
	padding-bottom: 16vw;
}

.hyFLdY {
	visibility: hidden;
	width: 100%;
	height: 8vw;
	border-width: 0px;
	border-style: initial;
	border-color: initial;
	border-image: initial;
	padding: 0px;
	margin: 0px;
}

.dwXJQx {
	font-size: 28px;
	padding: 38px 0px 10px;
	border-top: 1px solid rgb(227, 229, 232);
}

.Joofx {
	font-size: 4.26667vw;
	line-height: 1.5;
	letter-spacing: -0.0533333vw;
	padding: 0px 5.33333vw 13.3333vw;
}

.exuhom {
	position: relative;
	padding-left: 2.13333vw;
}

.exuhom::before {
	position: absolute;
	left: 0px;
	content: "";
	width: 2.5px;
	height: 2.5px;
	background-color: rgb(51, 51, 51);
	top: 2.86667vw;
	border-radius: 50%;
}

.cLVfUZ {
	font-size: 6.4vw;
	line-height: 1.33;
	height: 8.53333vw;
}

.ekNiY {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	justify-content: space-between;
}

.dDoKnT::after {
	content: "";
	display: inline-block;
	width: 1px;
	height: 2.66667vw;
	margin: 0px 1.06667vw;
	background: rgb(233, 233, 233);
}

.cIfwlK {
	font-size: 3.73333vw;
	color: rgb(154, 154, 158);
	height: 4vw;
	line-height: normal;
}

.fQZhjJ {
	display: flex;
	width: 100%;
	height: 13.8667vw;
	background-color: rgb(60, 64, 75);
	color: rgb(255, 255, 255);
	font-size: 4vw;
	font-weight: bold;
	-webkit-box-pack: center;
	justify-content: center;
	margin: 4vw 0px 10.6667vw;
	border-radius: 4px;
}

.jSEjVi {
	margin-top: 10.6667vw;
}

.fQZhjJ::before {
	content: "";
	display: inline-block;
	width: 4.53333vw;
	height: 4.53333vw;
	margin-right: 7px;
	background: url(../images/product-detail/review_pen.png) center center/100%
		no-repeat;
}

.hICAfU {
	width: 17.0667vw;
	height: 8vw;
	margin-right: 1.6vw;
	font-size: 3.46667vw;
	color: rgb(255, 255, 255);
	border-width: 1px;
	border-style: solid;
	border-image: initial;
	border-radius: 8vw;
	background: rgb(141, 146, 161);
	border-color: rgb(141, 146, 161);
}

.kdxpsC {
	width: 17.0667vw;
	height: 8vw;
	margin-right: 1.6vw;
	font-size: 3.46667vw;
	color: rgb(128, 128, 128);
	border-width: 1px;
	border-style: solid;
	border-image: initial;
	border-radius: 8vw;
	background: none;
	border-color: rgb(228, 228, 228);
}

.gxJvJD {
	margin-top: 4vw;
}

.jeZgoZ {
	padding: 8vw 0px;
	border-top: 1px solid rgb(233, 233, 233);
}

.kURoIF {
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
}

.hTSHGu {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	margin-bottom: 3.2vw;
}

.jwXKlH {
	display: block;
	font-weight: bold;
	font-size: 4.8vw;
}

.hTSHGu {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	margin-bottom: 3.2vw;
}

.gDTuiP { /* 켜진 별*/
	display: inline-block;
	width: 3.46667vw;
	height: 3.46667vw;
	background: url(../images/product-detail/star_on.png) center center/100%
		no-repeat;
	outline: 0px;
	margin: 0px 0.6vw 0px 0px;
}

.QDUaj {
	display: inline-block;
	width: 3.46667vw;
	height: 3.46667vw;
	background: url(../images/product-detail/star_off.png) center center/100%
		no-repeat;
	outline: 0px;
	margin: 0px 0.6vw;
}

.cRGDxB { /* 꺼진 별*/
	display: inline-block;
	width: 3.46667vw;
	height: 3.46667vw;
	background: url(../images/product-detail/star_off.png) center center/100%
		no-repeat;
	outline: 0px;
	margin: 0px 0px 0px 0.6vw;
}

.bFtzpx {
	font-size: 4.26667vw;
	word-break: break-all;
	white-space: pre-line;
}

.jOEcHV {
	height: 6.93333vw;
	line-height: 7.46667vw;
	margin-top: 5.33333vw;
	padding-left: 8vw;
	color: rgb(154, 154, 158);
	font-size: 3.73333vw;
	outline: none;
	background: url(../images/product-detail/ryan_gray.png) 0% 0%/auto 100%
		no-repeat;
}

.jxBTIN {
	width: 134px;
	text-align: center;
	right: 0px;
	margin-top: 8px;
	font-size: 13px;
	color: rgb(154, 154, 158);
}

.cVEhEB {
	position: relative;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	font-size: 3.73333vw;
	height: 4.53333vw;
	line-height: 4.53333vw;
	margin-top: 2.93333vw;
	outline: none;
}

.cVEhEB::after {
	position: relative;
	content: "";
	width: 4vw;
	height: 4vw;
	margin-left: 0.8vw;
	background: url(../images/product-detail/dropdown_down.png) 0% 0%/auto
		4vw no-repeat;
}

.krWiaZ {
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
}

.yQNxU {
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	box-sizing: border-box;
	width: 30px;
	height: 30px;
	cursor: pointer;
	background-color: rgb(255, 255, 255);
	visibility: hidden;
	border-radius: 15px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(237, 237, 237);
	border-image: initial;
	margin: 0px 10px;
}

.hzoUKy {
	display: flex;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	width: 37px;
	height: 30px;
	cursor: pointer;
}

.hzoUKy div {
	font-size: 15px;
	letter-spacing: -0.23px;
	color: rgb(0, 0, 0);
	height: 19px;
	font-weight: bold;
	margin-bottom: 0px;
	border-bottom: 1px solid black;
}

.hWuFcD {
	height: 6.93333vw;
	line-height: 7.46667vw;
	margin-top: 5.33333vw;
	padding-left: 8vw;
	color: rgb(154, 154, 158);
	font-size: 3.73333vw;
	outline: none;
	background: url(../images/product-detail/ryan_on.png) 0% 0%/auto 100%
		no-repeat;
}

.hWuFcD:hover {
	background-color: rgb(247, 247, 247);
}

.hWuFcD span {
	display: none;
}

.TvNiB {
	border-top: 10px solid rgb(247, 247, 247);
	padding: 9.6vw 3.6vw;
}

.FUbOH {
	color: rgb(30, 30, 30);
	font-size: 6.4vw;
	line-height: 7.73333vw;
	margin-bottom: 5.2vw;
	padding-left: 1.73333vw;
}

.fQZhjJ::before {
	content: "";
	display: inline-block;
	width: 4.53333vw;
	height: 4.53333vw;
	margin-right: 7px;
	background: url(../images/product-detail/review_pen.png) center center/100%
		no-repeat;
}

.itdkzt {
	position: relative;
	border-top: 2.66667vw solid rgb(247, 247, 247);
	border-bottom: 1px solid rgb(229, 229, 229);
	padding: 9.33333vw 5.33333vw;
}

.kaDofk {
	display: inline-block;
	width: 3.46667vw;
	height: 3.46667vw;
	background: url(../images/product-detail/star_on.png) center center/100%
		no-repeat;
	outline: 0px;
	margin: 0px 0.6vw;
}

@media ( min-width : 769px) {
	.kaDofk {
		width: 13px;
		height: 13px;
		margin: 0px 2.25px;
	}
	.itdkzt {
		border-right-style: initial;
		border-bottom-style: initial;
		border-left-style: initial;
		border-right-color: initial;
		border-bottom-color: initial;
		border-left-color: initial;
		padding: 36px 0px 0px;
		border-width: 1px 0px 0px;
		border-image: initial;
		border-top: 1px solid rgb(227, 229, 232);
	}
	.fQZhjJ::before {
		width: 20px;
		height: 20px;
	}
	.FUbOH {
		padding-left: 0px;
		margin-bottom: 20px;
		font-size: 28px;
		line-height: 1.29;
	}
	.TvNiB {
		margin-top: 60px;
		border-top: 1px solid rgb(227, 229, 232);
		padding: 38px 0px 0px;
	}
	.hWuFcD {
		width: 134px;
		height: 44px;
		padding-left: 60px;
		line-height: normal;
		background-size: 24px;
		text-align: left;
		color: rgb(0, 0, 0);
		font-size: 13px;
		margin: 0px;
		border-width: 1px;
		border-style: solid;
		border-color: rgb(228, 228, 228);
		border-image: initial;
		border-radius: 3px;
		background-position: 27px center;
	}
	.cVEhEB::after {
		width: 15px;
		height: 15px;
		margin-left: 3px;
		background-size: auto 15px;
	}
	.cVEhEB {
		font-size: 15px;
		height: 17px;
		line-height: 17px;
		margin-top: 12px;
	}
	.jOEcHV span {
		display: none;
	}
	.jOEcHV {
		width: 134px;
		height: 44px;
		padding-left: 60px;
		line-height: normal;
		background-size: 24px;
		text-align: left;
		color: rgb(154, 154, 158);
		font-size: 13px;
		margin: 0px;
		border-width: 1px;
		border-style: solid;
		border-color: rgb(228, 228, 228);
		border-image: initial;
		border-radius: 3px;
		background-position: 27px center;
	}
	.hURYlD {
		position: absolute;
		top: 50%;
		right: 0px;
		transform: translateY(-50%);
	}
	.bFtzpx {
		font-size: 15px;
		max-width: 680px;
	}
	.cRGDxB {
		width: 13px;
		height: 13px;
		margin: 0px 2.25px;
	}
	.QDUaj {
		width: 13px;
		height: 13px;
		margin: 0px 2.25px;
	}
	.gDTuiP {
		width: 13px;
		height: 13px;
		margin: 0px 2.25px;
	}
	.hTSHGu {
		margin-top: 6px;
		margin-bottom: 12px;
	}
	.jwXKlH {
		font-size: 17px;
	}
	.hTSHGu {
		margin-top: 6px;
		margin-bottom: 12px;
	}
	.jeZgoZ {
		position: relative;
		padding: 40px 0px;
	}
	.gxJvJD {
		margin-top: 15px;
	}
	.kdxpsC {
		font-size: 13px;
		width: 64px;
		height: 30px;
		margin-right: 6px;
	}
	.hICAfU {
		font-size: 13px;
		width: 64px;
		height: 30px;
		margin-right: 6px;
	}
	.jSEjVi {
		margin-top: 81px;
	}
	.fQZhjJ::before {
		width: 20px;
		height: 20px;
	}
	.fQZhjJ {
		position: absolute;
		right: 0px;
		top: 38px;
		width: 270px;
		height: 52px;
		padding-right: 10px;
		font-size: 15px;
		margin: 0px;
	}
	.cIfwlK {
		font-size: 16px;
		height: 20px;
		line-height: 20px;
	}
	.dDoKnT::after {
		height: 12.8px;
		margin: 0px 4px;
	}
	.ekNiY {
		-webkit-box-pack: start;
		justify-content: flex-start;
	}
	.iNxZsY {
		position: static;
		display: flex;
	}
	.cLVfUZ {
		margin-right: 23px;
		font-size: 28px;
		height: 35px;
	}
	.exuhom {
		padding-left: 8px;
		font-size: 15px;
		line-height: 24px;
		letter-spacing: -0.2px;
		color: rgb(51, 51, 51);
	}
	.exuhom::before {
		top: 10.75px;
	}
	.Joofx {
		font-size: 15px;
		line-height: 24px;
		letter-spacing: -0.2px;
		color: rgb(51, 51, 51);
		padding: 0px 0px 100px;
	}
	.oVMuJ {
		margin-top: 60px;
		padding-top: 0px;
		padding-bottom: 60px;
		border-width: 0px;
		border-style: initial;
		border-color: initial;
		border-image: initial;
	}
	.dvwRmq>.totalCount {
		font-size: 14px;
		margin-left: 6px;
	}
	.ImZfG {
		width: 20px;
		height: 20px;
		margin: 0px 3.5px 3px;
	}
	.grbwaB {
		width: 20px;
		height: 20px;
		margin: 0px 3.5px 3px;
	}
	.cRYXvP {
		width: 20px;
		height: 20px;
		margin: 0px 3.5px 3px;
	}
	.fnAzHX {
		width: 20px;
		height: 20px;
		margin: 0px 3.5px 3px;
	}
	.dvwRmq {
		margin-top: 11px;
		-webkit-box-pack: center;
		justify-content: center;
	}
	.iNxZsY {
		position: static;
		display: flex;
	}
	.gBmHgl {
		margin-top: 15px;
		text-align: center;
		font-size: 24px;
	}
	.eoPXCl {
		margin: 15px 0px 0px;
	}
	.hZwLyu {
		bottom: 0px;
	}
	.jUxlri {
		height: 50px;
		flex: 2 1 0%;
		border-top: 1px solid rgb(227, 229, 232);
	}
	.jUxlri {
		height: 50px;
		flex: 2 1 0%;
		border-top: 1px solid rgb(227, 229, 232);
	}
	.iOmWyG {
		display: flex;
		width: unset;
		height: 50px;
		flex: 1 1 0%;
		padding: 0px;
		border-style: solid;
		border-color: rgb(227, 229, 232);
		border-image: initial;
		border-width: 0px 1px;
	}
	.bYohjK {
		width: 50px;
		height: 50px;
	}
	.kFuewO {
		font-size: 15px;
		height: 50px;
		line-height: 50px;
		min-width: 50px;
		border-width: 0px;
		border-style: initial;
		border-color: initial;
		border-image: initial;
	}
	.hCwYWR {
		font-size: 15px;
		line-height: 50px;
		padding: 0px 20px;
	}
	.kMgbXi {
		display: block;
		line-height: 50px;
		font-size: 13px;
		text-align: left;
		flex: 1 1 0%;
	}
	.eyQXYE {
		position: relative;
		height: 51px;
		left: auto;
		flex: 1 1 0%;
	}
	.iipgZi {
		font-size: 15px;
		letter-spacing: normal;
		margin-left: 55px;
		padding: 0px 20px;
	}
	.hnazCY {
		right: auto;
		left: 0px;
		border-right: 1px solid rgba(255, 255, 255, 0.1);
	}
	.qSzXk {
		width: 55px;
		height: 50px;
		background-size: 15px 19px;
	}
	#kakaoContent {
		min-width: 320px;
		width: 100%;
		margin-top: 0px;
	}
	.iREAVG {
		width: auto;
		font-size: 48px;
		line-height: 56px;
		text-align: center;
		padding-top: 30px;
		max-width: 580px;
		margin: auto;
	}
	.fpVMnk {
		display: none;
	}
	.ebQDVx {
		display: flex;
		position: absolute;
		top: 37px;
	}
	.fzwbjC {
		margin: 0px 4px;
	}
	.iXDwCW {
		width: 37px;
		height: 37px;
	}
}

/* /////////////////고객센터 //////////*/
.jCUDnA {
	display: flex;
	flex-direction: column;
}

.gHsTgc {
	display: flex;
	background-color: rgb(255, 255, 255);
}

.ewldGg {
	text-align: center;
	font-size: 4.26667vw;
	font-weight: bold;
	letter-spacing: -0.0533333vw;
	color: rgb(0, 0, 0);
	outline: none;
	flex: 1 1 0%;
	padding: 4.8vw 0px 4vw;
	border-bottom: 1px solid rgb(0, 0, 0);
}

.fSmWHc {
	text-align: center;
	font-size: 4.26667vw;
	font-weight: bold;
	letter-spacing: -0.0533333vw;
	color: rgb(154, 154, 158);
	outline: none;
	flex: 1 1 0%;
	padding: 4.8vw 0px 4vw;
	border-bottom: 1px solid rgb(242, 242, 242);
}

.eFELNp {
	width: 100%;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	height: 13.3333vw;
	margin-top: 2.66667vw;
	background-color: rgb(255, 255, 255);
	outline: none;
	border-bottom: 1px solid rgb(242, 242, 242);
}

.bljjmH {
	font-size: 4.26667vw;
	color: rgb(17, 17, 17);
	letter-spacing: -0.0533333vw;
}

.bljjmH {
	font-size: 4.26667vw;
	color: rgb(17, 17, 17);
	letter-spacing: -0.0533333vw;
}

.fkzQYP {
	background-color: rgb(255, 255, 255);
	padding: 5.33333vw 4.26667vw;
	border-bottom: 1px solid rgb(242, 242, 242);
}

.gHsTgc {
	display: flex;
	background-color: rgb(255, 255, 255);
}

.ewldGg {
	text-align: center;
	font-size: 4.26667vw;
	font-weight: bold;
	letter-spacing: -0.0533333vw;
	color: rgb(0, 0, 0);
	outline: none;
	flex: 1 1 0%;
	padding: 4.8vw 0px 4vw;
	border-bottom: 1px solid rgb(0, 0, 0);
}

.fSmWHc {
	text-align: center;
	font-size: 4.26667vw;
	font-weight: bold;
	letter-spacing: -0.0533333vw;
	color: rgb(154, 154, 158);
	outline: none;
	flex: 1 1 0%;
	padding: 4.8vw 0px 4vw;
	border-bottom: 1px solid rgb(242, 242, 242);
}

.igiwIN {
	cursor: pointer;
	display: flex;
	flex-direction: column-reverse;
}

.fuoFjD {
	font-size: 3.73333vw;
	color: rgb(154, 154, 158);
	letter-spacing: -0.0533333vw;
	margin: 0.533333vw 0px;
}

.glsXdQ {
	position: relative;
	font-size: 4.8vw;
	letter-spacing: -0.0533333vw;
	line-height: 1.33;
	padding-right: 8.8vw;
}

.glsXdQ::after {
	content: "";
	display: inline-block;
	position: absolute;
	top: 0px;
	right: 0px;
	margin-top: 0.666667vw;
	width: 4.8vw;
	height: 4.8vw;
	background: url(../images/product-detail/dropdown_down.png) 0% 0%/4.8vw
		no-repeat;
}

.cdlUDa { /* 공지사항 답변 보는 버튼 클릭시 적용되는 */
	position: relative;
	font-size: 4.8vw;
	letter-spacing: -0.0533333vw;
	line-height: 1.33;
	padding-right: 8.8vw;
}

.iyrEsZ {
	background-color: rgb(249, 249, 249);
	margin-top: 0px;
	padding: 16.5px 21.5px 22.5px 57px;
}

.kYyZhV {
	font-size: 16px;
	letter-spacing: -0.21px;
	line-height: 1.38;
}

.kYyZhV::before {
	content: "";
	width: 26.8px;
	height: 24.8px;
	margin-left: -40px;
	position: absolute;
	background: url(../images/product-detail/contact_ryan.png) 0% 0%/26.8px
		no-repeat;
}

.cdlUDa::after {
	content: "";
	display: inline-block;
	position: absolute;
	top: 0px;
	right: 0px;
	margin-top: 0.666667vw;
	width: 4.8vw;
	height: 4.8vw;
	background: url(../images/product-detail/dropdown_up.png) 0% 0%/4.8vw
		no-repeat;
}

.bljjmH {
	font-size: 4.26667vw;
	color: rgb(17, 17, 17);
	letter-spacing: -0.0533333vw;
}

.bljjmH::after {
	content: "";
	display: inline-block;
	width: 4.8vw;
	height: 4.8vw;
	margin-left: 2px;
	vertical-align: middle;
	background: url(../images/product-detail/dropdown_down.png) 0% 0%/4.8vw
		no-repeat;
}

.bMzeRV {
	text-align: center;
	font-size: 4.26667vw;
	font-weight: bold;
	letter-spacing: -0.0533333vw;
	color: rgb(154, 154, 158);
	outline: none;
	flex: 1 1 0%;
	padding: 4.8vw 0px 4vw;
	border-bottom: 1px solid rgb(242, 242, 242);
}

.ittGnH {
	text-align: center;
	font-size: 4.26667vw;
	font-weight: bold;
	letter-spacing: -0.0533333vw;
	color: rgb(0, 0, 0);
	outline: none;
	flex: 1 1 0%;
	padding: 4.8vw 0px 4vw;
	border-bottom: 1px solid rgb(0, 0, 0);
}

.drWdwN {
	flex: 1 1 0%;
}

.exNXXp {
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	align-items: center;
	height: 48px;
	line-height: 48px;
	cursor: pointer;
}

.jrtVOJ {
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	align-items: center;
	width: 100%;
	height: 100%;
	font-size: 16px;
	background-color: rgb(247, 247, 247);
	color: rgb(30, 30, 30);
	padding: 0px 20px;
}

.cPoWav {
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	align-items: center;
	width: calc(100% - 20px);
	height: 100%;
	font-size: 16px;
	background-color: rgb(255, 255, 255);
	color: rgb(127, 127, 127);
	padding: 0px 20px;
}

@media ( min-width : 769px) {
	.cPoWav {
		font-size: 16px;
	}
	.jrtVOJ {
		font-size: 16px;
	}
	.drWdwN {
		background-color: rgb(255, 255, 255);
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
		border-width: 1px;
		border-style: solid;
		border-color: rgb(227, 229, 232);
		border-image: initial;
		overflow: hidden;
	}
	.kDPxRN {
		position: absolute;
		top: 43px;
		left: -1px;
		right: -1px;
		z-index: 2;
	}
	.ittGnH {
		font-size: 17px;
		letter-spacing: -0.21px;
		margin-left: 30px;
		padding: 32.5px 0px;
		border-bottom: 0px;
		flex: 0 0 auto;
	}
	.bMzeRV {
		font-size: 17px;
		letter-spacing: -0.21px;
		margin-left: 0px;
		padding: 32.5px 0px;
		border-bottom: 0px;
		flex: 0 0 auto;
	}
	.bljjmH::after {
		width: 18px;
		height: 18px;
		background-size: 18px;
	}
	.cdlUDa::after {
		top: auto;
		margin-top: 1px;
		width: 18px;
		height: 18px;
		background-size: 18px;
		padding-right: 0px;
	}
	.kYyZhV {
		font-size: 15px;
		line-height: 1.47;
		letter-spacing: -0.2px;
	}
	.iyrEsZ {
		order: 2;
	}
	.cdlUDa { /* 공지사항 답변 보는 버튼 클릭시 적용되는 */
		position: static;
		font-size: 17px;
		letter-spacing: -0.2px;
		padding-right: 0px;
	}
	.glsXdQ::after {
		top: auto;
		margin-top: 1px;
		width: 18px;
		height: 18px;
		background-size: 18px;
		padding-right: 0px;
	}
	.glsXdQ {
		position: static;
		font-size: 17px;
		letter-spacing: -0.2px;
		padding-right: 0px;
	}
	.fuoFjD {
		font-size: 13px;
		letter-spacing: -0.2px;
		margin: 0px 30px;
	}
	.fSmWHc {
		font-size: 17px;
		letter-spacing: -0.21px;
		margin-left: 30px;
		padding: 32.5px 0px;
		border-bottom: 0px;
		flex: 0 0 auto;
	}
	.ewldGg {
		font-size: 17px;
		letter-spacing: -0.21px;
		margin-left: 0px;
		padding: 32.5px 0px;
		border-bottom: 0px;
		flex: 0 0 auto;
	}
	.jCUDnA {
		flex-direction: row;
		-webkit-box-pack: justify;
		justify-content: space-between;
		-webkit-box-align: center;
		align-items: center;
		border-bottom: 1px solid rgb(0, 0, 0);
	}
	.ewldGg {
		font-size: 17px;
		letter-spacing: -0.21px;
		margin-left: 0px;
		padding: 32.5px 0px;
		border-bottom: 0px;
		flex: 0 0 auto;
	}
	.fSmWHc {
		font-size: 17px;
		letter-spacing: -0.21px;
		margin-left: 30px;
		padding: 32.5px 0px;
		border-bottom: 0px;
		flex: 0 0 auto;
	}
	.eFELNp {
		position: relative;
		width: 270px;
		height: 45px;
		margin-top: 0px;
		border-width: 1px;
		border-style: solid;
		border-color: rgb(227, 229, 232);
		border-image: initial;
	}
	.kDPxRN {
		position: absolute;
		top: 43px;
		left: -1px;
		right: -1px;
		z-index: 2;
	}
	.bljjmH {
		font-size: 15px;
		display: flex;
		-webkit-box-align: center;
		align-items: center;
		-webkit-box-pack: justify;
		justify-content: space-between;
		height: 45px;
		line-height: 45px;
		flex: 1 1 0%;
		padding: 0px 19px;
	}
	.fkzQYP {
		position: relative;
		padding: 35px 0px;
	}
	.igiwIN {
		flex-direction: row-reverse;
		-webkit-box-pack: justify;
		justify-content: space-between;
		-webkit-box-align: center;
		align-items: center;
	}
}

/* ///////////////contact ///////////마이페이지 1:1문의 */
#mArticle {
	padding-bottom: 0;
}

.fmXyox {
	padding: 30px 16px 20px;
	border-bottom: 1px solid rgb(227, 229, 232);
}

.gaRGea {
	font-size: 24px;
	font-weight: bold;
	letter-spacing: -0.19px;
}

.bdznXa {
	font-size: 16px;
	letter-spacing: -0.21px;
	margin-top: 9px;
	line-height: 1.38;
}

.cLlqjl {
	height: 19px;
	font-size: 16px;
	font-weight: bold;
	line-height: 1.5;
	color: rgb(255, 255, 255);
}

:lang(ko), :lang(en) {
	font-family: SFProText, SFProText, "Apple SD Gothic Neo",
		AppleSDGothicNeo, "Malgun Gothic", "맑은 고딕", sans-serif;
}

.bkURUc {
	height: calc(100vh - 215px);
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	background: url(../images/product-detail/mypage-contact-empty.png)
		center 13vh/19vh no-repeat rgb(247, 247, 247);
	background-position: center 13vh;
}

.bkURUc div {
	margin-top: 36vh;
	font-size: 16px;
	line-height: 1.41;
	letter-spacing: -0.21px;
	color: rgb(154, 154, 158);
}

.gsNikK {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	width: 100%;
	height: 60px;
	background-color: rgb(60, 64, 75);
	margin-top: 16.5px;
	border-radius: 4px;
}

@media ( min-width : 769px) {
	.encGOf {
		max-width: 270px;
		font-size: 16px;
		padding: 13px 0px;
		border-radius: 4px;
	}
	.bkURUc div {
		margin-top: 147px;
		font-size: 15px;
		line-height .foukWS.foukWS: 1.47;
		letter-spacing: -0.19px;
	}
	.bkURUc {
		margin-bottom: 350px;
		height: 310px;
		border-top: 1px solid rgb(227, 229, 232);
		border-bottom: 1px solid rgb(227, 229, 232);
		background: none;
	}
	.cLlqjl {
		font-size: 15px;
		letter-spacing: -0.2px;
	}
	.gsNikK {
		width: 270px;
		margin-top: 0px;
	}
	.bdznXa {
		font-size: 15px;
		line-height: 1.47;
		letter-spacing: -0.2px;
		margin-top: 7px;
	}
	.gaRGea {
		font-size: 36px;
		font-weight: bold;
		letter-spacing: -0.23px;
	}
	.fmXyox {
		display: flex;
		-webkit-box-pack: justify;
		justify-content: space-between;
		padding-bottom: 65px;
		border-bottom: 0px;
	}
}
/* ////////// contant_form ////////// */
#mArticle {
	padding-bottom: 0;
}

.foukWS {
	background-color: rgb(255, 255, 255);
	margin-bottom: 2.66667vw;
	padding: 8vw 4.26667vw 6.66667vw;
	/* border-top: 1px solid rgb(227, 229, 232); */
	border-bottom: 1px solid rgb(227, 229, 232);
}

.kwFxWp {
	background-color: rgb(247, 247, 247);
}

.jZWlvE {
	background-color: rgb(255, 255, 255);
}

.eZonHy {
	flex: 1 1 0%;
	padding: 6.66667vw 4vw 5.86667vw;
	border-bottom: 1px solid rgb(242, 242, 242);
}

.kHppkS {
	flex: 1 1 0%;
	padding: 6.66667vw 4vw 7.2vw;
}

.ibmozz {
	font-size: 5.33333vw;
	font-weight: bold;
	line-height: 1.5;
	letter-spacing: -0.0426667vw;
	color: rgb(60, 64, 75);
	margin-bottom: 4vw;
}

.dgNTux {
	display: flex;
}

.BCbzT {
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	background-color: rgb(255, 255, 255);
	padding: 0px 4vw 13.3333vw;
}

.cvQgXv {
	color: rgb(0, 0, 0);
	margin-right: 1.86667vw;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(227, 229, 232);
	border-image: initial;
}

.ekjGWF {
	color: rgb(255, 255, 255);
	background-color: rgb(60, 64, 75);
}

.foukWS span {
	font-size: 6.4vw;
	font-weight: bold;
	line-height: 1.25;
}

.eJxDUH {
	position: relative;
	display: block;
	width: 100%;
	margin-bottom: 8px;
	line-height: 35px;
}

.cCjyDE {
	flex: 1 1 0%;
}

.jcHywt {
	width: 100px;
	height: 16px;
	font-size: 13px;
	letter-spacing: -0.19px;
	margin-top: 14px;
}

.llGwgt {
	position: relative;
	/* 	height: 23px; */
	line-height: 23px;
	font-size: 16px;
	-webkit-appearance: none;
	width: calc(100% - 32px);
	text-align: left;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(227, 229, 232);
	border-image: initial;
	outline: none;
	padding: 10px 15px;
	background: none;
	border-radius: 4px !important;
}

:lang(ko), :lang(en) {
	font-family: SFProText, SFProText, "Apple SD Gothic Neo",
		AppleSDGothicNeo, "Malgun Gothic", "맑은 고딕", sans-serif;
}

.dlszdh {
	width: 100%;
	height: 45px;
	line-height: 100%;
	opacity: 0;
	padding: 0px 10px;
	opacity: 0;
}

.ckvayf {
	line-height: 35px;
	width: 100%;
	position: relative;
	display: block;
	color: rgb(212, 215, 225);
}

.bjRqPo {
	position: relative;
	width: calc(100% - 2px);
	height: 45px;
	margin-bottom: 2.13333vw;
	background: url(../images/product-detail/ico_dropdown.png) right 12px
		center/12px no-repeat;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(227, 229, 232);
	border-image: initial;
	border-radius: 1.06667vw;
}

.howXoD {
	margin-bottom: 2.13333vw;
}

.jGpjC {
	width: calc(100% - 32px);
	height: 177px;
	font-size: 16px;
	line-height: 1.5;
	-webkit-appearance: none;
	resize: none;
	padding: 15px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(227, 229, 232);
	border-image: initial;
	border-radius: 4px;
	background: none;
	outline: none;
}

.bTDNUq {
	position: absolute;
	width: 1px;
	height: 1px;
	clip: rect(0px, 0px, 0px, 0px);
	padding: 0px;
	margin: -1px;
	overflow: hidden;
	border-width: 0px;
	border-style: initial;
	border-color: initial;
	border-image: initial;
}

.cLHtJi {
	display: block;
	position: relative;
	height: 45px;
	line-height: 23px;
	font-size: 16px;
	-webkit-appearance: none;
	width: calc(100vw - 62px);
	border-width: 1px;
	border-style: solid;
	border-color: rgb(227, 229, 232);
	border-image: initial;
	outline: none;
	padding: 10px 15px;
	background: none;
	border-radius: 4px !important;
}

.iIVffC {
	position: absolute;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	height: 28px;
	right: 15px;
	top: 7.5px;
	background-color: rgb(239, 240, 244);
	box-sizing: border-box;
	padding: 0px 10px;
	border-radius: 4px;
}

.iIVffC span {
	opacity: 0.5;
	font-size: 13px;
	letter-spacing: -0.16px;
	color: rgb(30, 30, 30);
}

.lmFqbH {
	margin: 4vw 0px 2.4vw;
}

.dLcMkL {
	display: flex;
}

.dLcMkL span {
	width: 0.8vw;
	height: 0.8vw;
	background-color: rgb(154, 154, 158);
	margin-right: 2.13333vw;
	margin-top: 2.4vw;
	border-radius: 0.4vw;
}

.dLcMkL div {
	font-size: 3.73333vw;
	letter-spacing: -0.0586667vw;
	color: rgb(154, 154, 158);
}

.exbTko {
	padding-top: 4.26667vw;
}

.dWVyWd {
	-webkit-box-pack: start;
	justify-content: flex-start;
	margin: 0px 0px 10px;
}

.kyicMO {
	position: relative;
	display: inline-block;
	width: 25px;
	height: 25px;
	margin-bottom: auto;
}

.bEvrkG {
	visibility: hidden;
}

.kyicMO label {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 25px;
	height: 25px;
	cursor: pointer;
	background: url(../images/product-detail/ico_checked.png) center 0px/25px
		no-repeat;
}

.jyoKnP {
	max-width: calc(100% - 48px);
	padding-top: 1px;
	font-size: 15px;
	letter-spacing: -0.2px;
	margin: 0px 10px;
}

.jBTEoi {
	text-decoration: underline;
}

.hqJXmu {
	margin-left: 7px;
	color: rgb(154, 154, 158);
	font-size: 13px;
}

label {
	cursor: default;
}

.ckvayf::before {
	content: "문의 유형 선택";
	position: absolute;
	top: 0px;
	left: 15px;
	line-height: 45px;
	height: 45px;
	font-size: 15px;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code,
	form, fieldset, legend, textarea, p, blockquote, th, td, input, select,
	textarea, button {
	margin: 0;
	padding: 0;
}

body, th, td, input, select, textarea, button {
	font-size: 14px;
	line-height: 1.5;
	font-family: 'Apple SD Gothic Neo', AppleSDGothicNeo, 'Malgun Gothic',
		'맑은 고딕', sans-serif;
	color: #1e1e1e;
}

input, select, textarea, button {
	vertical-align: middle;
	font-size: 100%;
}

.encGOf {
	/* font-size: 4.26667vw; */
	font-weight: bold;
	line-height: 1.88;
	text-align: center;
	flex: 1 1 0%;
	/* padding: 3.46667vw 0px;
	border-radius: 1.06667vw; */
}

.gbuGih {
	line-height: 35px;
	width: 100%;
	position: relative;
	display: block;
	color: rgb(0, 0, 0);
}

.gbuGih::before {
	content: "교환/반품/환불";
	position: absolute;
	top: 0px;
	left: 15px;
	line-height: 45px;
	height: 45px;
	font-size: 15px;
}

.cvxdGv::before {
	content: "배송";
	position: absolute;
	top: 0px;
	left: 15px;
	line-height: 45px;
	height: 45px;
	font-size: 15px;
}

.eUAHGi::before {
	content: "기타";
	position: absolute;
	top: 0px;
	left: 15px;
	line-height: 45px;
	height: 45px;
	font-size: 15px;
}

.kqEPId::before {
	content: "상품";
	position: absolute;
	top: 0px;
	left: 15px;
	line-height: 45px;
	height: 45px;
	font-size: 15px;
}

.DlPRr::before {
	content: "주문결제";
	position: absolute;
	top: 0px;
	left: 15px;
	line-height: 45px;
	height: 45px;
	font-size: 15px;
}

.ZAepM {
	display: inline-block;
	max-width: calc(100vw - 186px);
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

span[Attributes Style] {
	-webkit-locale: "kr";
}

.bOawBQ {
	position: absolute;
	margin-left: 6px;
	top: 6px;
	width: 30px;
	height: 30px;
	background: url(../images/product-detail/ico_file_close.png) center
		center/20px 20px no-repeat;
	background-position: center center;
}

@media ( max-width : 768px) {
	.jcHywt {
		display: none;
	}
}

@media ( min-width : 769px) {
	.ZAepM {
		max-width: 208px;
	}
	.cvQgXv {
		margin-right: 7px;
	}
	.BCbzT {
		/* margin-top: 25px; */
		margin-top: 0px;
		border-top: 1px solid rgb(227, 229, 232);
		padding: 50px 15px 150px;
	}
	.dXGwvt {
		display: flex;
		min-width: 200px;
		-webkit-box-align: center;
		align-items: center;
		position: static;
		line-height: 22px;
		flex: 1 1 0%;
	}
	.exbTko {
		padding-top: 16px;
	}
	.dLcMkL div {
		font-size: 13px;
		line-height: 1.62;
		letter-spacing: -0.2px;
	}
	.dLcMkL span {
		width: 3px;
		height: 3px;
		margin-right: 8px;
		margin-top: 9px;
		border-radius: 1.5px;
	}
	.cLHtJi {
		width: calc(100% - 32px);
	}
	.bjRqPo {
		height: 45px;
		margin-bottom: 8px;
		background-size: 12px;
		background-position: right 12px center;
		border-radius: 4px;
	}
	.jZWlvE {
		display: flex;
		padding-top: 30px;
	}
	#mArticle {
		padding-bottom: 0;
	}
	.foukWS {
		margin-bottom: 0px;
		padding: 56px 0px 45px;
		border-bottom: 1px solid rgb(0, 0, 0);
	}
	.foukWS span {
		font-size: 36px;
		font-weight: bold;
		letter-spacing: -0.23px;
	}
	.eZonHy {
		padding: 0px;
		border-bottom: none;
	}
	.kHppkS {
		padding: 0px 50px;
	}
	.ibmozz {
		font-size: 18px;
		line-height: 1.22;
		letter-spacing: -0.18px;
		margin-bottom: 17px;
	}
	.dgNTux {
		margin-bottom: 14px;
	}
	/* .jcHywt {
		display: none;
	} */
	.howXoD {
		margin-bottom: 8px;
	}
	.lmFqbH {
		margin: 15px 0px 9px;
	}
}
/* //////wishlist///////*/
.cont_product {
	width: 1000px;
	margin: 0 auto;
}

.wishlist_detail .title {
	display: block;
	font-size: 32px;
	padding: 24px 8px 24px;
	border-bottom: 1px solid #e3e5e8;
}

.wishlist_detail .desc_nodata {
	padding: 134px 0 139px;
	font-size: 18px;
	color: #666;
	text-align: center;
}

.eZplGq {
	display: none;
}

.dDDEDN {
	padding-left: 130px;
}

.qvpR {
	padding-right: 150px;
}

dl, ul, ol, menu, li {
	list-style: none;
}

.euYbXx {
	width: 26.6667vw;
	height: 26.6667vw;
	margin-right: 3.46667vw;
	object-fit: contain;
}

a {
	color: #1e1e1e;
	text-decoration: none;
}

.bfspSz {
	position: relative;
	display: block;
	width: 100%;
	overflow: hidden;
	border-radius: 6px;
}

.fDGlIr {
	position: relative;
	width: 53.6vw;
	padding-top: 1.6vw;
}

.BTcrB {
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	align-items: center;
	padding-bottom: 1.73333vw;
}

.bnlBze {
	width: 49.3vw;
	height: 4.93333vw;
	line-height: 4.93333vw;
	font-size: 4.26667vw;
	letter-spacing: -0.0533333vw;
	color: rgb(0, 0, 0);
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.bHdxYH {
	width: 4.93333vw;
	height: 4.93333vw;
	text-indent: -999em;
	font-size: 1px;
	background: url(../images/product-detail/btn_remove.png) center center/3.73333vw
		no-repeat;
}

.hmRzec {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

fieldset, img {
	border: 0 none;
}

.hmRzec::after {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	content: "";
	width: 100%;
	z-index: 0;
	padding-top: 100%;
	background: rgba(0, 0, 0, 0.02);
}

.izsgpp {
	display: none;
}

.elMFjf {
	width: 100%;
	height: auto;
}

.evybcA {
	display: flex;
	-webkit-box-pack: start;
	justify-content: flex-start;
	align-items: flex-start;
	padding-top: 5.33333vw;
	padding-bottom: 5.33333vw;
	margin-left: 4vw;
	margin-right: 4vw;
	border-top: 1px solid rgb(242, 242, 242);
}

.dQdpLr {
	display: block;
	width: 53.6vw;
	height: 9.33333vw;
	position: relative;
	box-sizing: border-box;
	border-radius: 1.06667vw;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(227, 229, 232);
	border-image: initial;
}

.crsOxf {
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	height: 53.5px;
	position: absolute;
	left: 0px;
	right: 0px;
	padding: 0px 4vw;
	background: rgb(255, 255, 255);
}

.bxBtII {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	width: 50%;
}

.gTQHQA {
	display: inline-block;
	vertical-align: middle;
	font-size: 4.26667vw;
	letter-spacing: -0.056vw;
	line-height: 1;
	padding-top: 0.1vw;
	color: rgb(51, 51, 51);
}

.gDxQLB {
	font-family: SFProText;
	font-weight: bold;
}

.jbYkPZ {
	border-bottom: 1px solid rgb(227, 229, 232);
	background: rgb(255, 255, 255);
}

.brYRBX {
	height: 8vw;
	font-size: 6.4vw;
	font-weight: bold;
	line-height: 1.25;
	letter-spacing: -0.0506667vw;
	padding-bottom: 0.8vw;
	padding-left: 4vw;
	padding-right: 4.26667vw;
	padding-top: 7.73333vw;
}

.lcYsvd {
	display: flex;
	-webkit-box-pack: end;
	justify-content: flex-end;
	-webkit-box-align: center;
	align-items: center;
	width: 50%;
}

.hSptdO {
	color: rgb(102, 102, 102);
	height: 8vw;
	line-height: 8vw;
	padding-right: 8px;
}

.gTQHQA {
	display: inline-block;
	vertical-align: middle;
	font-size: 4.26667vw;
	letter-spacing: -0.056vw;
	line-height: 1;
	padding-top: 0.1vw;
	color: rgb(51, 51, 51);
}

.bnHBoH {
	width: 4.26667vw;
	height: 8vw;
	background: url(../images/product-detail/trashcan-btn.png) center center/4.26667vw
		4.53333vw no-repeat;
}

.dVWwMq {
	height: 4vw;
	font-family: SFProText;
	font-size: 4.26667vw;
	line-height: 0.94;
	letter-spacing: -0.0533333vw;
	padding-bottom: 2.66667vw;
	color: rgb(0, 0, 0);
}

@media ( min-width : 769px) {
	.dVWwMq {
		min-width: 105px;
		height: unset;
		font-size: 15px;
		line-height: 2;
		letter-spacing: -0.19px;
		text-align: right;
		order: 3;
		margin-right: 82px;
		padding: 0px;
	}
	.bnHBoH {
		width: 16px;
		height: 30px;
		background-size: 16px 17px;
	}
	.gTQHQA {
		font-size: 15px;
		height: 30px;
		line-height: 30px;
		letter-spacing: -0.2px;
		padding-top: 0px;
	}
	.hSptdO {
		height: 30px;
		line-height: 32px;
	}
	.brYRBX {
		height: 60px;
		font-size: 36px;
		line-height: 1.67;
		letter-spacing: -0.36px;
		color: rgb(0, 0, 0);
		padding: 56px 0px 34px;
	}
	.fWUvvW {
		margin-bottom: 167px;
	}
	.jbYkPZ {
		width: 1080px;
		border-bottom: 0px;
	}
	.gDxQLB {
		line-height: 30px;
	}
	.gTQHQA {
		font-size: 15px;
		height: 30px;
		line-height: 30px;
		letter-spacing: -0.2px;
		padding-top: 0px;
	}
	.crsOxf {
		position: static;
		height: 30px;
		padding: 0px 0px 8px;
	}
	.dQdpLr {
		width: 80px;
		height: 35px;
		border-radius: 4px;
	}
	.bHdxYH {
		position: absolute;
		width: 13px;
		height: 13px;
		background-size: 13px;
		top: 50%;
		transform: translateY(-50%);
		right: 0px;
	}
	.bnlBze {
		height: unset;
		font-size: 15px;
		max-width: 304px;
		line-height: 1.47;
		letter-spacing: -0.19px;
	}
	.BTcrB {
		width: 304px;
		padding: 0px;
	}
	.gNIdPH {
		display: flex;
		-webkit-box-pack: justify;
		justify-content: space-between;
		-webkit-box-align: center;
		align-items: center;
		margin: auto;
	}
	.fDGlIr {
		width: 926px;
		padding: 0px;
	}
	.bfspSz {
		width: 100px;
	}
	.euYbXx {
		width: 100px;
		height: 100px;
		margin-right: 14px;
		padding: 0px;
	}
	.evybcA {
		-webkit-box-align: center;
		align-items: center;
		height: 130px;
		padding: 0px 20px 0px 0px;
		margin: 0px;
	}
	.hMFYYJ {
		/* width: 157px; */
		font-size: 13px;
		letter-spacing: -0.19px;
		text-align: center;
	}
	.eZplGq {
		display: flex;
		-webkit-box-pack: justify;
		justify-content: space-between;
		background-color: rgb(255, 255, 255);
		padding: 16px;
		border-top: 1px solid rgb(0, 0, 0);
		border-bottom: 1px solid rgb(227, 229, 232);
	}
}
/* //////// signin /////////// */
#mSub {
	position: relative;
}

.visual_intro {
	background-color: #ffdc00;
}

.login_intro .inner_intro {
	width: 460px;
	height: 480px;
	margin: 0 auto;
}

.visual_intro .inner_intro {
	position: relative;
	/*  width: 1080px;
    margin: 0 auto; */
}

.login_intro .tit_intro {
	display: block;
	padding-top: 140px;
	font-weight: normal;
	font-size: 34px;
	line-height: 40px;
}

.login_intro .emph_tit {
	display: block;
	font-weight: bold;
}

.screen_out {
	overflow: hidden;
	position: absolute;
	width: 0;
	height: 0;
	line-height: 0;
	text-indent: -9999px;
}
/* #mArticle {
    padding-bottom: 0;
} */
.cont_login {
	position: relative;
	width: 492px;
	margin: -155px auto 58px;
}

.cont_login .group_login {
	padding: 164px 16px 0;
	background: url(../images/product-detail/bg_login_171129.png) 100% 0
		no-repeat;
	-webkit-background-size: 492px 155px;
	background-size: 492px 155px;
}

.cont_login .group_btn {
	margin-top: 51px;
	padding: 0 16px 77px;
}

.btn_signup.bg_yellow {
	background-color: #ffdc00;
	border-color: #f8d200;
}

.btn_signup {
	width: 100%;
	height: 50px;
	border: 2px solid #1e1e1e;
	border-radius: 25px;
	font-weight: bold;
	font-size: 18px;
	line-height: 46px;
}

.btn_signup .ico_kakao {
	display: inline-block;
	width: 22px;
	height: 20px;
	margin: 15px 18px 0 0;
	background-position: -38px 0;
}

.ico_newfriends_v1 {
	overflow: hidden;
	font-size: 0;
	line-height: 0;
	background-image:
		url(../images/product-detail/ico_newfriends_v1_180920.png);
	background-repeat: no-repeat;
	vertical-align: top;
	text-indent: -9999px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) , only screen and
		(min-resolution: 1.5dppx) , not all .ico_newfriends_v1 {
	background-image
	:url
	(../images/product-detail/ico_newfriends_v1_180920
	.png
	);
	
	
	background-size
		
	:
	300px
	
	
	300
	px
	;
	

}

.windows .btn_signup .txt_signup {
	line-height: 42px;
	vertical-align: top;
}

.btn_signup .txt_signup {
	line-height: 52px;
}

.cont_login .group_attention {
	padding-bottom: 10px;
}

.cont_login .tit_attention {
	display: block;
	margin-bottom: 25px;
	padding: 0 35px;
	font-size: 16px;
}

.cont_login .list_attention li {
	position: relative;
	margin-bottom: 22px;
	padding: 0 35px;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.008em;
}

.cont_login .list_attention li:before {
	position: absolute;
	left: 16px;
	top: 11px;
	width: 3px;
	height: 3px;
	border-radius: 2px;
	background: #666;
	content: '';
}

@media ( min-width : 769px) {
}
/* /////////mypage - pointlist /////////// */
.hQeOUi {
	height: 19px;
	font-size: 15px;
	letter-spacing: -0.21px;
	color: rgb(102, 102, 102);
}

.dfiGDm {
	padding-bottom: 10px;
	background-color: rgb(247, 247, 247);
	/* border-top: 1px solid rgb(227, 229, 232); */
}

.hKoDIE {
	background-color: rgb(255, 255, 255);
	border-bottom: 1px solid rgb(227, 229, 232);
	padding: 30px 16px 60px;
}

.hfzjYP {
	height: 19px;
	font-size: 15px;
	letter-spacing: -0.21px;
	margin-bottom: 8px;
}

.guPJbr {
	height: 30px;
	font-size: 32px;
	font-weight: bold;
	line-height: 0.94;
	margin-bottom: 12px;
}

.cKOECY {
	display: flex;
	flex-direction: column;
	-webkit-box-pack: center;
	justify-content: center;
	height: 81px;
	box-sizing: border-box;
	padding: 0px 16px;
	border-bottom: 1px solid rgb(242, 242, 242);
}

.iNARBl {
	font-size: 13px;
	line-height: 1.69;
	letter-spacing: -0.16px;
	color: rgb(154, 154, 158);
}

.fusTrl {
	font-size: 18px;
	font-weight: bold;
	letter-spacing: -0.21px;
}

.kpgujp {
	background-color: rgb(247, 247, 247);
	flex: 1 1 0%;
}

.dIVlFl {
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	background-color: rgb(255, 255, 255);
	padding: 16px;
	border-bottom: 1px solid rgb(227, 229, 232);
}

.iXUmoy {
	width: 108px;
	font-size: 13px;
	letter-spacing: -0.19px;
	text-align: center;
}

.gxBnDY {
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	align-items: center;
	background-color: rgb(255, 255, 255);
	padding: 24px 16px;
	border-bottom: 1px solid rgb(242, 242, 242);
}

.kDyDdZ {
	display: flex;
	flex-direction: column;
}

.kgzyNS {
	font-size: 15px;
	letter-spacing: -0.19px;
	margin-bottom: 2px;
}

.kTuShr {
	font-size: 13px;
	color: rgb(127, 127, 127);
}

.geikNB {
	font-size: 18px;
	font-weight: bold;
	line-height: 1.22;
	color: rgb(31, 111, 255);
}

.iwORwO {
	padding: 90px 0px 150px;
}

.krWiaZ {
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
}

.yQNxU {
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	box-sizing: border-box;
	width: 30px;
	height: 30px;
	cursor: pointer;
	background-color: rgb(255, 255, 255);
	visibility: hidden;
	border-radius: 15px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(237, 237, 237);
	border-image: initial;
	margin: 0px 10px;
}

.yQNxU {
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	box-sizing: border-box;
	width: 30px;
	height: 30px;
	cursor: pointer;
	background-color: rgb(255, 255, 255);
	visibility: hidden;
	border-radius: 15px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(237, 237, 237);
	border-image: initial;
	margin: 0px 10px;
}

.gjKkF {
	width: 6px;
	height: 6px;
	transform: rotate(45deg);
	border-width: 1px;
	border-style: solid;
	border-color: rgb(154, 154, 158);
	border-image: initial;
	margin: 0px 3px 0px 0px;
}

.hzoUKy div {
	font-size: 15px;
	letter-spacing: -0.23px;
	color: rgb(0, 0, 0);
	height: 19px;
	font-weight: bold;
	margin-bottom: 0px;
	border-bottom: 1px solid black;
}

.hzoUKy {
	display: flex;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	width: 37px;
	height: 30px;
	cursor: pointer;
}

.gxwoaN {
	cursor: pointer;
	display: flex;
	flex-direction: column;
}

@media ( min-width : 769px) {
	.gxwoaN {
		flex-direction: row-reverse;
		-webkit-box-pack: justify;
		justify-content: space-between;
		-webkit-box-align: center;
		align-items: center;
	}
	.geikNB {
		width: 108px;
	}
	.kTuShr {
		width: 125px;
	}
	.kgzyNS {
		order: 1;
		margin-left: 86px;
		margin-right: 12px;
	}
	.kDyDdZ {
		flex-direction: row;
		-webkit-box-align: center;
		align-items: center;
	}
	.gxBnDY {
		padding: 32px 16px;
	}
	.kpgujp {
		background-color: rgb(255, 255, 255);
		border-top: 1px solid rgb(0, 0, 0);
	}
	.cKOECY {
		margin-top: 40px;
		flex-direction: row;
		-webkit-box-align: center;
		align-items: center;
		-webkit-box-pack: justify;
		justify-content: space-between;
		height: 45px;
		padding: 0px;
		border-bottom: none;
	}
	.guPJbr {
		font-size: 36px;
		margin-bottom: 16px;
	}
	.dfiGDm {
		background-color: rgb(255, 255, 255);
		/* padding-top: 55px; */
	}
	.hKoDIE {
		background-color: rgb(247, 247, 247);
		padding: 38px 30px;
		border-bottom: none;
	}
}

/* //////// admin notice-list.jsp /// */
.notice_num {
	width: 10vw;
	font-size: 13px;
	letter-spacing: -0.19px;
	text-align: center;
}

.notice_title {
	width: 35vw;
	font-size: 13px;
	letter-spacing: -0.19px;
	text-align: center;
}

.notice_date {
	width: 10vw;
	font-size: 13px;
	letter-spacing: -0.19px;
	text-align: center;
}

.notice_manage {
	width: 7vw;
	font-size: 13px;
	letter-spacing: -0.19px;
	text-align: center;
}
/* ///////admin-contact-list */
.contact_num {
	width: 3vw;
	font-size: 13px;
	letter-spacing: -0.19px;
	text-align: center;
}

.contact_title {
	width: 35vw;
	font-size: 13px;
	letter-spacing: -0.19px;
	text-align: center;
}

.contact_date {
	width: 13vw;
	font-size: 13px;
	letter-spacing: -0.19px;
	text-align: center;
}

.contact_manage {
	width: 7vw;
	font-size: 13px;
	letter-spacing: -0.19px;
	text-align: center;
}

/* */
.starR {
	background:
		url('http://miuu227.godohosting.com/images/icon/ico_review.png')
		no-repeat right 0;
	background-size: auto 100%;
	width: 30px;
	height: 30px;
	display: inline-block;
	text-indent: -9999px;
	cursor: pointer;
}

.starR.on {
	background-position: 0 0;
}

.kcAJDu {
	border-right-width: 1px;
	background:
		url(https://t1.kakaocdn.net/friends/new_store/2.0/common/product-detail-button-dec-on.svg)
		center center no-repeat;
}

.eGyuxj {
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	width: 16vw;
	height: 16vw;
	text-indent: -9999em;
	font-size: 1px;
	background: url(../images/product-detail/product-detail-cart-on.svg)
		center center/4vw 5.06667vw no-repeat;
}

@media ( min-width : 769px) {
	.eGyuxj {
		width: 55px;
		height: 50px;
		background-size: 15px 19px;
	}
}

.bEvrkG:checked+label {
	background:
		url(https://t1.kakaocdn.net/friends/new_store/ico_checked_ok.png)
		center 0px/25px no-repeat;
}

.jDnUiM {
	width: 5.33333vw;
	height: 5.33333vw;
	margin-right: 2.66667vw;
	background: url(../images/product-detail/ico_checked.png) center center/5.33333vw
		5.33333vw no-repeat;
}

.itJrQV {
	padding-top: 2.66667vw;
	width: 100vw;
	font-size: 24px;
	line-height: 18.6667vw;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	font-weight: bold;
}

.itJrQV>strong {
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 65vw;
	overflow: hidden;
}

.itJrQV>span {
	margin-left: 0.3em;
	font-weight: normal;
}

.hrcZyO {
	width: 100%;
	height: 2.66667vw;
	background-color: rgb(247, 247, 247);
	border-right-style: initial;
	border-bottom-style: initial;
	border-left-style: initial;
	border-right-color: initial;
	border-bottom-color: initial;
	border-left-color: initial;
	border-width: 1px 0px 0px;
	border-image: initial;
	border-top: 1px solid rgb(227, 229, 232);
	margin: 0px;
	padding: 0px;
}

.hEvDtU {
	padding: 0px 3.6vw;
}

.iOsrvN {
	display: flex;
	flex-wrap: wrap;
}

.lnYegB {
	position: relative;
	width: 42.9333vw;
	height: 68.1333vw;
	padding: 0px 1.73333vw;
}

.xJJuU {
	display: block;
}

.hWTFwr {
	position: relative;
	display: block;
	width: calc(50vw - 27px);
	height: calc(50vw - 27px);
	overflow: hidden;
	border-radius: 6px;
}

.hmRzec {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.elMFjf {
	width: 100%;
	height: auto;
}

.hmRzec::after {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	content: "";
	width: 100%;
	z-index: 0;
	padding-top: 100%;
	background: rgba(0, 0, 0, 0.02);
}

.cYMYfE {
	display: block;
	max-width: 100%;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	color: rgb(17, 17, 17);
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	padding: 13px 0px 0px;
}

.goDjPh {
	position: absolute;
	right: 2.53333vw;
	top: 34.8vw;
	width: 6.53333vw;
	height: 6.53333vw;
}

.eQccag {
	display: block;
	width: 100%;
	height: 100%;
	text-indent: -9999em;
	font-size: 1px;
	background: url(../images/product-detail/ico-basket-over.png) center
		center/57% no-repeat;
	border-radius: 3px;
	outline: none;
}

.dYJVae {
	display: block;
	width: 100%;
	height: 100%;
	text-indent: -9999em;
	font-size: 1px;
	background: url(../images/product-detail/ico-basket-default.png) center
		center/57% no-repeat;
	border-radius: 3px;
	outline: none;
}

.grUkHt {
	height: 30px;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	align-items: center;
	flex: 1 1 0%;
	padding: 20px;
}

.koZTSa {
	font-size: 16px;
	letter-spacing: -0.23px;
}

.cGwKcg {
	font-weight: bold;
}

.kfNYFC {
	font-size: 15px;
	letter-spacing: -0.23px;
}

.eBQTEi {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	cursor: pointer;
}

.VoEDc {
	padding-bottom: 32vw;
}

.eAdJPe {
	width: 31.28vw;
	height: 44.48vw;
	display: block;
	margin: 20.6667vw auto 4.18667vw;
}

.iAVQFJ {
	font-size: 5.33333vw;
	line-height: 8vw;
	letter-spacing: -0.0586667vw;
	text-align: center;
	margin-bottom: 1.6vw;
}

.bVnFan {
	font-size: 3.73333vw;
	line-height: 5.33333vw;
	letter-spacing: -0.0533333vw;
	text-align: center;
	color: rgb(154, 154, 158);
}

.irscIi {
	font-size: 3.73333vw;
	line-height: 5.33333vw;
	letter-spacing: -0.0533333vw;
	text-align: center;
	color: rgb(154, 154, 158);
}

@media ( min-width : 769px) {
	.irscIi {
		font-size: 13px;
		line-height: 20px;
		margin-bottom: 173px;
	}
	.bVnFan {
		font-size: 13px;
		line-height: 20px;
	}
	.iAVQFJ {
		font-size: 20px;
		line-height: 30px;
		margin-bottom: 5px;
	}
	.eAdJPe {
		width: 117.3px;
		height: 166.8px;
		margin: 168.5px auto 15.7px;
	}
	.VoEDc {
		padding-bottom: 120px;
	}
	.grUkHt {
		padding: 28px 30px 28px 0px;
	}
	.dYJVae {
		background-size: 50%;
	}
	.eQccag {
		background-size: 50%;
	}
	.goDjPh {
		top: 221px;
		right: 10px;
		width: 24px;
		height: 24px;
	}
	.cYMYfE {
		color: rgb(17, 17, 17);
		line-height: 19px;
		padding: 13px 0px 0px;
	}
	.hWTFwr {
		width: 255px;
		height: 255px;
		margin-right: 20px;
	}
	.lnYegB:nth-child(2n+1) {
		margin: 0px 45px 0px 0px;
	}
	.lnYegB {
		width: 255px;
		margin-right: 30px;
		height: 353.5px;
		padding: 0px;
	}
	.hEvDtU {
		padding: 0px;
	}
	.hrcZyO {
		height: 0px;
	}
	.jDnUiM {
		width: 30px;
		height: 25px;
		margin-right: 10px;
		background-size: 25px 25px;
	}
	.itJrQV {
		width: 100%;
		font-size: 36px;
		line-height: 48px;
		padding: 56px 0px 40px;
	}
}

input:checked[type='checkbox'] {
	background-color: #666;
	-webkit-appearance: checkbox;
}

.dejnuF+label {
	/* width: 5.33333vw;
	height: 5.33333vw;
	margin-right: 2.66667vw; */
	background: url(../images/product-detail/ico_checked_ok.png) center
		center/ 25px 25px no-repeat;
}
.jDnUiM+label {
    /* width: 5.33333vw;
    height: 5.33333vw;
    margin-right: 2.66667vw; */
    background: url(../images/product-detail/ico_checked.png) center center / 25px 25px no-repeat;
}
@media ( min-width : 769px) {
	.dejnuF{
		width: 30px;
		height: 25px;
		margin-right: 10px;
		background-size: 25px 25px;
		background: url(../images/product-detail/ico_checked_ok.png) center
		center/ 25px 25px no-repeat;
	}
	.jDnUiM {
    width: 30px;
    height: 25px;
    margin-right: 10px;
    background-size: 25px 25px;
        background: url(../images/product-detail/ico_checked.png) center center / 25px 25px no-repeat;
    
}
}
.dimmed_layer {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.8);
}
.friends_layer {
    display: none;
    position: absolute;
    left: 50%;
    z-index: 110;
    width: 510px;
    margin-left: -255px;
    border-radius: 3px;
    color: #1e1e1e;
    background-color: #fff;
}
.friends_layer .inner_layer {
    padding: 0 30px 40px;
}
.order_layer .tit_order {
    display: block;
    padding-top: 28px;
    font-weight: normal;
    font-size: 30px;
    color: #000;
    text-align: center;
}
.friends_layer .tit_order {
    display: block;
    padding-top: 36px;
    font-weight: normal;
    font-size: 30px;
    color: #000;
    text-align: center;
}
.friends_layer .layer_body {
    overflow: hidden;
}
fieldset, img {
    border: 0 none;
}
.screen_out {
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    text-indent: -9999px;
}
.order_layer .list_order {
    padding: 49px 0 48px;
}
.order_layer .list_order dt {
    padding-top: 35px;
}
.order_layer .list_order dd {
    margin-bottom: 2px;
    padding: 26px 0 13px;
    border-bottom: 1px solid #ddd;
}
.order_layer .inp_order {
    width: 100%;
    height: 27px;
    border: 0 none;
    font-size: 20px;
    line-height: 27px;
    color: #1e1e1e;
}
.order_layer .lab_order {
    font-size: 16px;
    line-height: 19px;
    color: #999;
}
.order_layer .desc_error {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 104px;
    width: 100%;
    font-size: 18px;
    line-height: 19px;
    color: #ff342e;
    text-align: center;
}
.friends_layer .btn_confirm {
    float: right;
    color: #fff;
    background-color: #f4c900;
}
.friends_layer .btn_check {
    width: 220px;
    height: 60px;
    font-size: 20px;
    line-height: 21px;
    text-align: center;
}
.friends_layer .btn_cancel {
    float: left;
    border: 1px solid #ddd;
    color: #535353;
    background-color: #fff;
}


input[type="checkbox"]:checked + label {
	display: block;
	width: 100%;
	height: 100%;
	text-indent: -9999em;
	font-size: 1px;
	background-image: url(../images/icons/icon-heart-01.png);
	background-position: center;
	background-repeat: no-repeat;
	background-position:center center/57%;
	border-radius: 3px;
	outline: none;
}

@media ( min-width : 769px) {
	input[type="checkbox"]:checked + label {
		background-size: 100%;
	}
}
input[type="checkbox"] {
	display: none;
}
input[type="checkbox"] + label{
	display: block;
	width: 100%;
	height: 100%;
	text-indent: -9999em;
	font-size: 1px;
	background-image: url(../images/icons/icon-heart-02.png);
	background-position: center;
	background-repeat: no-repeat;
	background-position:center center/57%;
	border-radius: 3px;
	outline: none;
}

@media ( min-width : 769px) {
	input[type="checkbox"] + label {
		background-size: 100%;
	}
}


.wish_check {
/* 	position: absolute;
	right: 2.53333vw;
	top: 34.8vw; */
	width: 6.53333vw;
	height: 6.53333vw;
}

@media ( min-width : 769px) {
	.wish_check {
		/* top: 221px;
		right: 10px; */
		width: 24px;
		height: 24px;
		    margin-right: 16px;
	}
}
.kdmaDe {
    display: inline-block;
    color: rgb(154, 154, 158);
    font-size: 3.73333vw;
    margin-left: 2.13333vw;
    line-height: normal;
}
@media (min-width: 769px){
	.kdmaDe {
    font-size: 13px;
    height: 13px;
    margin-left: 8px;
	}
}